[Desktop Entry]
Encoding=UTF-8
Name=TheCoin
Comment=TheCoin P2P Cryptocurrency
Comment[fr]=TheCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=TheCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/thecoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/thecoin;
Categories=Office;
